body {
    margin: 0;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(25deg, blue, white);
    height: 100vh; 
}

.btn-1 {
    text-decoration-line: none;
    padding: 10px;
    border: 1px solid;
    color: white;
    position: absolute;
    top: 5%;
    left: 40%;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

#tblUno{
    color: black;
    font-size: 130%;
    font-weight: bolder;
}